* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --cor-primaria: #98c0d7;
  --cor-secundaria: #c9e7f8;
}

body {
  color: #263138;
}

header {
  background-color: var(--cor-primaria);
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: #263138;
  font-weight: 600;
  padding: 32px;
  text-decoration: none;
}

#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 5px 80px 10px 80px;
  position: relative;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 32px;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
  text-align: justify;
}

.botao {
  background-color: var(--cor-primaria);
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 32px;
}

.imagem_absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

/* Seção clínica */
#servicos {
  gap: 64px;
  align-items: center;
  padding: 25px 80px 30px 70px;
  background-color: var(--cor-secundaria);
}

.container {
  display: flex;
  gap: 80px;
}

.servicos_dashboard {
  align-items: flex-start;
}

.servicos_treinamentos {
  align-items: flex-end;
}

#servicos h1 {
  text-align: center;
  padding-bottom: 10px;
}

/* Seção petshop e farmácia */
#projetos {
  padding: 64px 80px;
  text-align: center;
}

#projetos img {
  margin: 64px auto;
}

#projetos .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

/* Seção dúvidas frequentes */
#duvidas {
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: start;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid var(--cor-primaria);
  border-radius: 8px;
  cursor: pointer;
  padding: 24px;
  display: block;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida p {
  border-right: 1px solid var(--cor-primaria);
  border-bottom: 1px solid var(--cor-primaria);
  border-left: 1px solid var(--cor-primaria);
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.duvida.ativa p {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}

#quem {
  padding: 64px 80px;
  text-align: center;
}

/* Rodapé */
footer {
  /* background-color: rgba(255, 152, 108, 0.25); */
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: #263138;
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  max-width: 350px;
}

footer p {
  margin-bottom: 16px;
  max-width: 350px;
}

footer p a {
  color: #263138;
  text-decoration: none;
}

.citacao {
  text-align: justify;
  font-weight: 600;
}
